﻿@model Passion_project_N01311360.Models.Show
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Show</h2>

<form method="POST" action="/Show/Edit@Model.ShowID">
    <div class="inprow">Name:>
    <label class=" ">Title</label>
    <input type="text" value="@Model.genre.GenreTitle" id="Showtitle" name="GenreTitle" />
</div>
<div class="inprow">
    <label class="inplabel">Genre</label>
    <select id="ShowTitle" name="ShowTitle">
     @foreach (var genre in Model.Genre)
     {
         <option value="genre.GenreID"
            @if (genre.GenreId == Model.genre.GenreID) { var selected = "selected;" @selected ; }>
     }   @show.Showname @show.showTime 
        </option>

    </select>
    <div class="inprow">
        <div class="inplabel">Content</div>
        <textarea id="ShowDes" name="ShowDes">@Model.ShowDescription</textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>

</div>

















</form>
