﻿@model Passion_project_N01311360.Models.Genre
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Genre</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = ""})

        @Html.HiddenFor(model => model.GenreId)
        <div class="form-group">
           


        </div>
}

